* {
  margin: 0;
  padding: 0;
  font-family: 'Arial';
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: white;
}
body {
  background: #2d2d2d;
  background-size: cover;
}

.container-main {
  height: 100vh;
  width: 100vw;
  align-items: center;
  display: flex;
}
.container-search {
  display: flex;
  height: 50px;
  align-items: center;
  width: 40%;
  min-width: 300px;
  border-radius: 50px;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}
.container-search:focus-within {
  outline: 2px solid #fff;
}
.searchbar-inner-container {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  display: flex;
  background: #2d2d2d;
  border-radius: 50px;
  background-color: #3f3f3f;
}
input {
  border: none;
  width: 89%;
  height: 100%;
  outline: none;
  font-size: 1.2rem;
  padding-left: 15px;
  color: #fff;
  background-color: #3f3f3f;
}
input::placeholder {
  color: #b5b5b5;
}
.search-button-container {
  height: 100%;
  width: 50px;
  background-color: transparent;
  display: flex;
  justify-content: left;
  align-items: center;
}
button {
  background: none;
  border: none;
  width: 70%;
  height: 70%;
  cursor: pointer;
}
.search-button-svg {
  fill: #b5b5b5;
}
.search-button-svg:hover {
  fill: #fff;
}
.container-time {
  height: 50%;
  display: flex;
  min-width: 10vw;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.container-inner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.time-now {
  color: #fff;
  background-color: #000;
  margin: 0;
  padding: 10px 40px 10px 40px;
  border-radius: 25px;
  font-size: 7rem;
  font-weight: bold;
}
